rek/modules/cfg80211.ko rek/modules/cifs.ko rek/modules/compat_firmware_class.ko rek/modules/compat.ko rek/modules/fuse.ko rek/modules/hfsplus.ko rek/modules/mac80211.ko rek/modules/ntfs.ko rek/modules/usb-storage.ko rek/modules/wl12xx.ko rek/modules/wl12xx_sdio.ko rek/modules/wl12xx_spi.ko
system/lib/ch341.ko system/lib/cls_flow.ko system/lib/cp210x.ko system/lib/pl2303.ko system/lib/sch_dsmark.ko system/lib/scsi_wait_scan.ko system/lib/ti_usb_3410_5052.ko system/lib/usbserial.ko
